<div style="flex-direction: row; margin: 4px;display: flex;margin-bottom: 2px;">
    <h3>Live Volume & Sales Comparison</h3>
    <img class="title-img" src="../../../../assets/icons/Live-Sales-Data.png" />
</div>
<section class="layout">
    <div class="box m-4">
        <p>Previous Year 15 FEB 2023</p>
        <div style="border: 2px solid black; border-top-right-radius: 5px;
        border-top-left-radius: 8px;border-top-right-radius: 8px;
        border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
            <div style="display: flex;justify-content: space-between;
                background-color: #FEB96C;padding: 5px 20px 5px 20px;border-radius: 8px;
                align-items: center;border: 2px solid black;">
                <h3 style="font-weight: 400;color: black;">
                    IMFS
                    <img src="assets/icons/Imfs.png">
                </h3>
                <h3 style="font-weight: 400;color: black;">
                    Beer
                    <img src="assets/icons/beeer.png">
                </h3>
            </div>
            <div class="" style="display: flex;justify-content: space-between;padding: 5px 20px 5px 20px;">
                <h3><img src="assets/icons/home.png">1283479</h3>
                <h3><img src="assets/icons/home.png">1283479</h3>

            </div>
            <div class="" style="display: flex;justify-content: space-between;padding: 5px 20px 5px 20px;">
                <h3>128.38 Crs </h3>
                <h3>16.99 Crs</h3>
            </div>
        </div>
    </div>
    <div class="box m-4">
        <p>Previous day 14 FEB 2024</p>
        <div style="border: 2px solid black; border-top-right-radius: 5px;
        border-top-left-radius: 8px;border-top-right-radius: 8px; border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;">
            <div class="head" style="display: flex;justify-content: space-between;border-radius: 8px;
                background-color: #008FFB;padding: 5px 20px 5px 20px;align-items: center;border: 2px solid black;">
                <h3 style="font-weight: 400;color: black;">
                    IMFS
                    <img src="assets/icons/Imfs.png">
                </h3>
                <h3 style="font-weight: 400;color: black;">
                    Beer
                    <img src="assets/icons/beeer.png">
                </h3>
            </div>
            <div class="" style="display: flex;justify-content: space-between;padding: 5px 20px 5px 20px;">
                <h3><img src="assets/icons/home.png">1283479</h3>
                <h3><img src="assets/icons/home.png">1283479</h3>

            </div>
            <div class="" style="display: flex;justify-content: space-between;padding: 5px 20px 5px 20px;">
                <h3>128.38 Crs </h3>
                <h3>16.99 Crs</h3>
            </div>
        </div>
    </div>
    <div class="box m-4">
        <div class="live">
            <p>Today’s Overall Sales</p>
        <!-- <img src="../../../../../assets/icons/live.png"/> -->
        </div>
        <div style="border: 2px solid black; border-top-right-radius: 5px;
        border-top-left-radius: 8px;border-top-right-radius: 8px; border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;">
            <div style="display: flex;justify-content: space-between;border-radius: 8px;
                border: 2px solid black;
                background-color: #00E396;padding: 5px 20px 5px 20px;align-items: center;">
                <h3 style="font-weight: 400;color: black;">
                    IMFS
                    <img src="assets/icons/Imfs.png">
                </h3>
                <h3 style="font-weight: 400;color: black;">
                    Beer
                    <img src="assets/icons/beeer.png">
                </h3>
            </div>
            <div class="" style="display: flex;justify-content: space-between;padding: 5px 20px 5px 20px;">
                <h3><img src="assets/icons/home.png">1283479</h3>
                <h3><img src="assets/icons/home.png">1283479</h3>

            </div>
            <div class="" style="display: flex;justify-content: space-between;padding: 5px 20px 5px 20px;">
                <h3>128.38 Crs </h3>
                <h3>16.99 Crs</h3>
            </div>
        </div>
    </div>
</section>