<div class="project-wrapper m-2" id="live">
    <div class="card">
        <div style="justify-content: space-between;" class="header-container match-height">
            <h4 style="margin-left:20px;display: inline-flex;" class="card-title mb-0 flex-grow-1">Live Sales & Volume
                Comparison
                <!-- <img class="card-img" src="assets/icons/Live-Sales-Data.png" /> -->
            </h4>
            <!-- <img style="width: 20px;height: 20px;" src="assets/icons/Live-1.gif" />
                <span style="color: white;font-weight: bold;border-radius: 5px;
                        font-size:small;margin-left: 5px;padding: 2px;background-color: red;">Live</span>
                <img (click)="refreshLiveStatus()" src="assets/icons/refresh.png" /> -->
        </div>
        <section style="margin: 10px 0;" class="layout">
            <div class="card-main">
                <div style="background-color: #00E396;cursor: pointer;" class="header" (click)="refreshLiveStatus()">
                    Today's Overall Sales {{chartData?.today?.date}}
                    <!-- <img style="width: 20px;height: 20px;" src="assets/icons/Live-1.gif" /> -->
                    <!-- <span style="color: white;font-weight: bold;border-radius: 5px;
                            font-size:small;margin-left: 5px;padding: 2px;background-color: red;">Live</span>
                    <img style="height: 20px;margin-left: 2px;cursor: pointer;" (click)="refreshLiveStatus()"
                        src="assets/icons/refresh.png" /> -->
                </div>
                <div class="content">
                    <div class="item">
                        <span class="item-title">IMFS
                            <img src="assets/icons/Imfs.png">
                        </span>
                        <div class="item-head-child">
                            <img style="margin-top: 1px;" class="item-img" src="assets/icons/home.png">&nbsp;
                            <span style="margin-top: 3px;" style="margin-left: 2px;"
                                class="item-title">{{chartData?.today?.imfsSoldVolumeCases}} <p
                                    style="font-size: x-small;">Cases</span>
                        </div>
                        <span style="margin-bottom: 6px;" class="item-title">{{chartData?.today?.imfsSalesValue |
                            currency:'INR':'symbol':'1.0-2'}} Crs</span>
                    </div>
                    <div class="item">
                        <span class="item-title">BEER
                            <img class="item-img" src="assets/icons/beeer.png">
                        </span>
                        <div class="item-head-child">
                            <img style="margin-top: px;" class="item-img" src="assets/icons/home.png">&nbsp;
                            <span style="margin-top: 3px;" class="item-title">{{chartData?.today?.beerSoldVolumeCases}}
                                <p style="font-size: x-small;">Cases
                            </span>
                        </div>
                        <span style="margin-bottom: 6px;" class="item-title">{{chartData?.today?.beerSalesValue |
                            currency:'INR':'symbol':'1.0-2'}} Crs</span>
                    </div>
                </div>
            </div>

            <div class="card-main">
                <div style="background-color: #7FB3D5;" class="header">
                    Yesterday Sales {{chartData?.previousDay?.date}}
                </div>
                <div class="content">
                    <div class="item">
                        <span class="item-title">IMFS
                            <img class="item-img" src="assets/icons/Imfs.png">
                        </span>
                        <div class="item-head-child">
                            <img style="margin-top: 2px;" class="item-img" src="assets/icons/home.png">&nbsp;
                            <span style="margin-top: 3px;"
                                class="item-title">{{chartData?.previousDay?.imfsSoldVolumeCases}} <p
                                    style="font-size: x-small;">Cases</span>
                        </div>
                        <span style="margin-bottom: 10px;" class="item-title">{{chartData?.previousDay?.imfsSalesValue |
                            currency:'INR':'symbol':'1.0-2'}} Crs</span>
                    </div>
                    <div class="item">
                        <span class="item-title">BEER
                            <img class="item-img" src="assets/icons/beeer.png">
                        </span>
                        <div class="item-head-child">
                            <img style="margin-top: 2px;" class="item-img" src="assets/icons/home.png">&nbsp;
                            <span style="margin-top: 3px;" class="item-title">
                                {{chartData?.previousDay?.beerSoldVolumeCases}} <p style="font-size: x-small;">
                                    Cases</span>
                        </div>
                        <span style="margin-bottom: 6px;" class="item-title">{{chartData?.previousDay?.beerSalesValue |
                            currency:'INR':'symbol':'1.0-2'}} Crs</span>
                    </div>
                </div>
                <div class="percentage" [style.color]="getColor(chartData?.previousDay?.growthPercentage)">
                    {{chartData?.previousDay?.growthPercentage}} %</div>
            </div>

            <div class="card-main">
                <div class="header">
                    Previous Year {{chartData?.previousYear?.date}}
                </div>
                <div class="content">
                    <div class="item">
                        <span class="item-title">IMFS
                            <img class="item-img" src="assets/icons/Imfs.png">
                        </span>
                        <div class="item-head-child">
                            <img style="margin-top: 2px;" class="item-img" src="assets/icons/home.png">&nbsp;
                            <span style="margin-top: 3px;"
                                class="item-title">{{chartData?.previousYear?.imfsSoldVolumeCases}} <p
                                    style="font-size: x-small;">Cases</p></span>
                        </div>
                        <span style="margin-bottom: 6px;" class="item-title">{{chartData?.previousYear?.imfsSalesValue |
                            currency:'INR':'symbol':'1.0-2'}} Crs</span>
                    </div>
                    <div class="item">
                        <span class="item-title">BEER
                            <img class="item-img" src="assets/icons/beeer.png">
                        </span>
                        <div class="item-head-child">
                            <img style="margin-top: 1px;" class="item-img" src="assets/icons/home.png">&nbsp;
                            <span style="margin-top: 3px;"
                                class="item-title">{{chartData?.previousYear?.beerSoldVolumeCases}} <p
                                    style="font-size: x-small;">Cases</p></span>
                        </div>
                        <span style="margin-bottom: 6px;" class="item-title">{{chartData?.previousYear?.beerSalesValue |
                            currency:'INR':'symbol':'1.0-2'}} Crs</span>
                    </div>
                </div>
                <div class="percentage" [style.color]="getColor(chartData?.previousYear?.growthPercentage)">
                    {{chartData?.previousYear?.growthPercentage}} %</div>
            </div>
        </section>
    </div>

    <div class="container-fluid" id="cum2">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Cumulative Growth Performance - Current Month</h4>
                    </div>
                    <div class="card-body d-flex">
                        <div class="col-sm-8">
                            <div id="chart">
                                <apx-chart [series]="areaChart.series" [chart]="areaChart.chart"
                                    [yaxis]="areaChart.yaxis" [xaxis]="areaChart.xaxis" [stroke]="areaChart.stroke"
                                    [tooltip]="areaChart.tooltip" [dataLabels]="areaChart.dataLabels"></apx-chart>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div style="margin-left: 10%;" class="row">
                                <div class="col-6">
                                    <div class="card-small-card">
                                        <span class="text-center">(in Crs)</span>
                                        <div class="small-card-child bg-info text-white text-center">
                                            Overall Sales {{valueData.previousYear.month}} {{valueData.previousYear.year}}
                                        </div>
                                        <div class="card-body-child text-center">
                                            <h2 class="font-weight-bold mt-2">{{valueData.previousYear.total}} Crs</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card-small-card">
                                        <span class="text-center">(in Cases)</span>
                                        <div class="small-card-child bg-info text-white text-center">
                                            Total Volume Sold in {{valueData.previousYear.month}} {{valueData.previousYear.year}}
                                        </div>
                                        <div class="card-body-child text-center">
                                            <h2 class="font-weight-bold mt-2">{{valueData.previousYear.imfsCases}} Crs</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 mt-3">
                                    <div class="card small-card">
                                        <div class="small-card-child bg-success text-white text-center">
                                            Overall Sales in {{valueData.currentYear.month}} {{valueData.currentYear.year}}
                                        </div>
                                        <div class="card-body-child text-center">
                                            <h2 class="font-weight-bold mt-2">{{valueData.currentYear.total}} Crs</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 mt-3">
                                    <div class="card small-card">
                                        <div class="small-card-child bg-success text-white text-center">
                                            Total Volume Sold in {{valueData.currentYear.month}} {{valueData.currentYear.year}}
                                        </div>
                                        <div class="card-body-child text-center">
                                            <h2 class="font-weight-bold mt-2">{{valueData.currentYear.beerCases}} Crs</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 mt-3">
                                    <div class="card small-card">
                                        <div class="small-card-child bg-primary text-white text-center">
                                            Overall Growth Percentage (in %) {{valueData.currentYear.month}}
                                            {{valueData.currentYear.year}}
                                        </div>
                                        <div class="card-body-child text-center">
                                            <h2 [style.color]="getColor(valueData.percentage)"
                                                style="font-size: xx-large;" class="font-weight-bold mt-2">
                                                {{valueData.percentage}}%</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 mt-3">
                                    <div class="card small-card">
                                        <div class="small-card-child bg-primary text-white text-center">
                                            Net Growth in Volume (in %) {{valueData.currentYear.month}}
                                            {{valueData.currentYear.year}}
                                        </div>
                                        <div class="card-body-child text-center">
                                            <h2 [style.color]="getColor(valueData.percentage)"
                                                style="font-size: xx-large;" class="font-weight-bold mt-2">
                                                {{valueData.percentage}}%</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="com3">
        <div class="row match-height">
            <div class="col-md-12 row">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4 class="card-title mb-0 flex-grow-1">Comparison Data</h4>
                        <!-- <img style="width: 25px; height: 25px;" src="assets/icons/Comparison-Data.png" /> -->
                    </div>

                    <div class="row mt-2 px-2">
                        <div class="col-md-2">
                            <span>Region</span>
                            <ng-select (change)="filterComparison($event, 'region')" (change)="getDistrict($event)"
                                [items]="location" bindLabel="label" bindValue="value" placeholder="Across TN"
                                [clearable]="false" [searchable]="false"></ng-select>
                        </div>
                        <div class="col-md-2">
                            <span>District</span>
                            <ng-select (change)="filterComparison($event, 'district')" [items]="districts"
                                [(ngModel)]="districtName" bindLabel="label" bindValue="value"
                                placeholder="Select District" [clearable]="false" [searchable]="false"></ng-select>
                        </div>
                        <div class="col-md-2">
                            <span>Date</span>
                            <div class="input-group">
                                <input type="text" (change)="filterComparison($event,'date1')" class="form-control"
                                    [value]="yesterdayDate" mwlFlatpickr [convertModelValue]="true"
                                    data-date-format="d M, Y" placeholder="Select Date">
                            </div>
                        </div>vs
                        <div class="col-md-2">
                            <span>Date</span>
                            <div class="input-group">
                                <input type="text" (change)="filterComparison($event,'date2')" class="form-control"
                                    [value]="currentDate" id="datepicker2" mwlFlatpickr [convertModelValue]="true"
                                    data-date-format="d M, Y" placeholder="Select Date">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <div id="chart">
                                <apx-chart [series]="barChart.series" [chart]="barChart.chart"
                                    [dataLabels]="barChart.dataLabels" [plotOptions]="barChart.plotOptions"
                                    [yaxis]="barChart.yaxis" [legend]="barChart.legend" [fill]="barChart.fill"
                                    [stroke]="barChart.stroke" [tooltip]="barChart.tooltip"
                                    [xaxis]="barChart.xaxis"></apx-chart>
                            </div>
                        </div>
                        <!-- <div class="col-md-4">
                            <div class="col-6">
                                <div class="card small-card">
                                    <div class="small-card-child bg-primary text-white text-center">
                                        Growth Percentage as on {{currentDateofComparison}}
                                    </div>
                                    <div class="card-body-child text-center">
                                        <h2 style=" font-size: xx-large; " [style.color]="getColor(comparisonGrowthPercentage)" class="font-weight-bold mt-2">
                                            {{comparisonGrowthPercentage}}%
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card small-card">
                                    <div class="small-card-child bg-primary text-white text-center">
                                        Growth Percentage as on {{currentDateofComparison}}
                                    </div>
                                    <div class="card-body-child text-center">
                                        <h2 style=" font-size: xx-large; " [style.color]="getColor(comparisonGrowthPercentage)" class="font-weight-bold mt-2">
                                            {{comparisonGrowthPercentage}}%
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card small-card">
                                    <div class="small-card-child bg-primary text-white text-center">
                                        Growth Percentage as on {{currentDateofComparison}}
                                    </div>
                                    <div class="card-body-child text-center">
                                        <h2 style=" font-size: xx-large; " [style.color]="getColor(comparisonGrowthPercentage)" class="font-weight-bold mt-2">
                                            {{comparisonGrowthPercentage}}%
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-md-4">
                            <div style="margin-left: 10%;" class="row">
                                <div class="col-6">
                                    <div class="card-small-card">
                                        <div class="small-card-child bg-primary text-white text-center">
                                            Overall Sales in (in %) {{currentDateofComparison}}
                                        </div>
                                        <div class="card-body-child text-center">
                                            <h2 [style.color]="getColor(comparisonGrowthPercentage.growthPercentage)"
                                                class="font-weight-bold mt-2">
                                                {{comparisonGrowthPercentage.growthPercentage}}%</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card-small-card">
                                        <div class="small-card-child bg-primary text-white text-center">
                                            Total Volume Sold<br> 
                                        </div>
                                        <div class="card-body-child text-center">
                                            <h4 style="font-size: small;"
                                                class="font-weight-bold mt-2">
                                               IMFS {{comparisonGrowthPercentage.date1.imfsCases}} Cases</h4>
                                            <h4 style="font-size: small;"
                                                class="font-weight-bold mt-2">
                                               BEER {{comparisonGrowthPercentage.date1.beerCases}} Cases</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 mt-3">
                                    <div class="card small-card">
                                        <div class="small-card-child bg-success text-white text-center">
                                            Overall Sales (in %)
                                        </div>
                                        <div class="card-body-child text-center">
                                            <h2 [style.color]="getColor(comparisonGrowthPercentage.imfsGrowthPercentage)"
                                                class="font-weight-bold mt-2">
                                                {{comparisonGrowthPercentage.imfsGrowthPercentage}}%</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 mt-3">
                                    <div class="card small-card">
                                        <div class="small-card-child bg-success text-white text-center">
                                            Total Volume Sold
                                        </div>
                                        <div class="card-body-child text-center">
                                            <h4 style="font-size: small;"
                                                class="font-weight-bold mt-2">
                                               IMFS {{comparisonGrowthPercentage.date2.imfsCases}} Cases</h4>
                                            <h4  style="font-size: small;"
                                                class="font-weight-bold mt-2">
                                              BEER {{comparisonGrowthPercentage.date2.beerCases}} Cases</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 mt-3">
                                    <div class="card small-card">
                                        <div class="small-card-child bg-info text-white text-center">
                                            Overall Growth Percentage
                                        </div>
                                        <div class="card-body-child text-center">
                                            <h2 [style.color]="getColor(comparisonGrowthPercentage.imfsGrowthPercentage)"
                                                style="font-size: xx-large;" class="font-weight-bold mt-2">
                                                {{comparisonGrowthPercentage.beerGrowthPercentage}}%</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 mt-3">
                                    <div class="card small-card">
                                        <div class="small-card-child bg-info text-white text-center">
                                            Net Growth Percentage
                                        </div>
                                        <div class="card-body-child text-center">
                                            <h2 [style.color]="getColor(comparisonGrowthPercentage.imfsGrowthPercentage)"
                                                style="font-size: xx-large;" class="font-weight-bold mt-2">
                                                {{finalCalculatedResult}}%</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4 class="card-title mb-0 flex-grow-1">Sales Comparison on Festival</h4>
                        <img style="width: 20px;height: 20px;" src="assets/icons/gift.png" />
                    </div>

                    <div class="row mt-2 px-2 align-items-center">
                        <div class="col-2">
                            <div class="form-check" (click)="filterFestival()">
                                <input class="form-check-input" type="checkbox" value="2024" id="festivalCheckbox"
                                    checked>
                                <label class="form-check-label" for="flexCheckDefault">
                                    2024
                                </label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-check" (click)="filterFestival()">
                                <input class="form-check-input" type="checkbox" value="2023" id="festivalCheckbox"
                                    checked>
                                <label class="form-check-label" for="flexCheckDefault">
                                    2023
                                </label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-check" (click)="filterFestival()">
                                <input class="form-check-input" type="checkbox" value="2022" id="festivalCheckbox">
                                <label class="form-check-label" for="flexCheckDefault">
                                    2022
                                </label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-check" (click)="filterFestival()">
                                <input class="form-check-input" type="checkbox" value="2021" id="festivalCheckbox">
                                <label class="form-check-label" for="flexCheckDefault">
                                    2021
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <span>Region</span>
                            <ng-select (change)="filterFestival($event)" [items]="location" bindLabel="label"
                                bindValue="value" placeholder="Across TN"  [clearable]="false" [searchable]="false"></ng-select>
                            <select class="form-control" data-choices >
                                <option value=""></option>
                                <option *ngFor="let value of location" value="{{value.value}}">
                                    {{value.label}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div id="chart">
                                <apx-chart [series]="areChartFestival.series" [chart]="areChartFestival.chart"
                                    [xaxis]="areChartFestival.xaxis" [stroke]="areChartFestival.stroke"
                                    [tooltip]="areChartFestival.tooltip" [yaxis]="areChartFestival.yaxis"
                                    [dataLabels]="areChartFestival.dataLabels"></apx-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
                    </div>
                </div>
            </div>

            <div class="row match-height" id="over4">
                <div class="col-6 card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4 class="card-title mb-0 flex-grow-1">Region wise Sales Performance Chart
                            <!-- <img style="width: 25px;height: 25px;" src="assets/icons/top-5.png" /> -->
                        </h4>
                    </div>

                    <div style="display: flex;">
                        &nbsp;<div class="col-md-3">
                            <span>Year</span>
                            <ng-select data-choices (change)="filterTopFive($event, 'year')"
                                [items]="regionwiseDropdown" bindLabel="label" bindValue="value"
                                placeholder="FY 2023-2024" [clearable]="false" [searchable]="false"></ng-select>

                            <!-- <select class="form-control" data-choices (change)="filterTopFive($event, 'year')">
                    <option *ngFor="let value of regionwiseDropdown" value="{{value.value}}">
                        {{value.label}}
                    </option>
                </select> -->
                        </div>&nbsp;
                        <!-- <div class="col-md-3">
                <span>Region</span>
                <ng-select data-choices (change)="filterTopFive($event, 'location')" [items]="location"
                    bindLabel="label" bindValue="value" placeholder="All"  [clearable]="false" [searchable]="false"></ng-select>

                <select class="form-control" data-choices (change)="filterTopFive($event, 'location')">
                    <option value="">All</option>
                    <option *ngFor="let value of location" value="{{value.value}}">
                        {{value.label}}
                    </option>
                </select>
            </div>&nbsp; -->
                    </div>
                    <div class="flex-shrink-0">
                    </div>
                    <div id="chart">
                        <apx-chart [series]="barChartTop.series" [chart]="barChartTop.chart"
                            [dataLabels]="barChartTop.dataLabels" [plotOptions]="barChartTop.plotOptions"
                            [yaxis]="barChartTop.yaxis" [legend]="barChartTop.legend" [fill]="barChartTop.fill"
                            [stroke]="barChartTop.stroke" [tooltip]="barChartTop.tooltip"
                            [xaxis]="barChartTop.xaxis"></apx-chart>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title mb-0 flex-grow-1">Overall Sales</h4>
                            <!-- <img style="width: 20px;height: 20px;" src="assets/icons/sales.png" /> -->
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <!--  (change)="filterRegionWise($event)" -->
                                    <span>Year</span>
                                    <ng-select (change)="filterOverallSales($event,'month')" [items]="overAllChart"
                                        bindLabel="label" bindValue="value" placeholder="FY 2023-2024"
                                        [clearable]="false" [searchable]="false"></ng-select>

                                    <!-- <select class="form-control" data-choices (change)="filterOverallSales($event,'month')">
                            <option *ngFor="let value of overAllChart" value="{{value.value}}">
                                {{value.label}}</option>
                        </select> -->
                                    <!-- <i class="fas fa-caret-down"></i> -->
                                </div>
                                <div class="col-md-3">
                                    <!--  (change)="filterRegionWise($event)" -->
                                    <span>Region</span>
                                    <ng-select data-choices (change)="filterOverallSales($event,'location')"
                                        [items]="location" bindLabel="label" bindValue="value" placeholder="Across TN"
                                        [clearable]="false" [searchable]="false"></ng-select>

                                    <!-- <select class="form-control" data-choices (change)="filterOverallSales($event,'location')">
                            <option value="">All</option>
                            <option *ngFor="let value of location" value="{{value.value}}">
                                {{value.label}}</option>
                        </select> -->
                                </div>
                                <div class="col-12">
                                    <div id="chart">
                                        <apx-chart [series]="salesChart.series" [chart]="salesChart.chart"
                                            [dataLabels]="salesChart.dataLabels" [labels]="salesChart.labels"
                                            [responsive]="salesChart.responsive"></apx-chart>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row match-height justify-content-between" id="annual">
                <div class="col-6 card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4 class="card-title mb-0 flex-grow-1">Overall Least Performed District
                            <!-- <img style="width: 25px;height: 25px;" src="assets/icons/last-5.png" /> -->
                        </h4>
                    </div>

                    <div style="display: flex;">
                        &nbsp;<div class="col-md-3">
                            <!--  (change)="filterRegionWise($event)" -->
                            <span>Year</span>
                            <ng-select data-choices (change)="filterLeastfiveDistrict($event,'year')"
                                [items]="regionwiseDropdown" bindLabel="label" bindValue="value"
                                placeholder="FY 2023-2024" [clearable]="false" [searchable]="false"></ng-select>

                            <!-- <select class="form-control" data-choices (change)="filterLeastfiveDistrict($event,'year')">
                    <option *ngFor="let value of regionwiseDropdown" value="{{value.value}}">
                        {{value.label}}</option>
                </select> -->
                        </div>&nbsp;
                        <div class="col-md-3">
                            <span>Region</span>
                            <!--  (change)="filterRegionWise($event)" -->
                            <ng-select data-choices data-choices (change)="filterLeastfiveDistrict($event,'location')"
                                [items]="location" bindLabel="label" bindValue="value" placeholder="Across TN"
                                [clearable]="false" [searchable]="false"></ng-select>


                            <!-- <select class="form-control" data-choices (change)="filterLeastfiveDistrict($event,'location')">
                    <option value="">All</option>
                    <option *ngFor="let value of location" value="{{value.value}}">
                        {{value.label}}</option>
                </select> -->
                        </div>&nbsp;
                    </div>
                    <div class="flex-shrink-0">
                    </div>
                    <div id="chart">
                        <apx-chart [series]="barChartLeast.series" [chart]="barChartLeast.chart"
                            [dataLabels]="barChartLeast.dataLabels" [plotOptions]="barChartLeast.plotOptions"
                            [yaxis]="barChartLeast.yaxis" [legend]="barChartLeast.legend" [fill]="barChartLeast.fill"
                            [stroke]="barChartLeast.stroke" [tooltip]="barChartLeast.tooltip"
                            [xaxis]="barChartLeast.xaxis"></apx-chart>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title mb-0 flex-grow-1">Annual sales comparison</h4>
                            <!-- <img style="width: 20px;height: 20px;" src="assets/icons/sales-comp.png" /> -->
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-check" (click)="filterSalesComparison()">
                                        <input class="form-check-input" type="checkbox" value="2023-2024"
                                            id="salesCheckbox" checked>
                                        <label class="form-check-label" for="flexCheckDefault">
                                            FY 2023-2024
                                        </label>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-check" (click)="filterSalesComparison()">
                                        <input class="form-check-input" type="checkbox" value="2022-2023"
                                            id="salesCheckbox" checked>
                                        <label class="form-check-label" for="flexCheckDefault">
                                            FY 2022-2023
                                        </label>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-check" (click)="filterSalesComparison()">
                                        <input class="form-check-input" type="checkbox" value="2021-2022"
                                            id="salesCheckbox">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            FY 2021-2022
                                        </label>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-check" (click)="filterSalesComparison()">
                                        <input class="form-check-input" type="checkbox" value="2020-2021"
                                            id="salesCheckbox">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            FY 2020-2021
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <!-- <span>Region</span> -->
                                    <ng-select data-choices (change)="filterSalesComparison($event)" [items]="location"
                                        bindLabel="label" bindValue="value" placeholder="Across TN" [clearable]="false"
                                        [searchable]="false"></ng-select>
                                    <!-- <select class="form-control" data-choices (change)="filterSalesComparison($event)">
                            <option value="">All</option>
                            <option *ngFor="let value of location" value="{{value.value}}">
                                {{value.label}}</option>
                        </select> -->
                                </div>
                            </div>
                            <div class="row">
                                <div id="chart">
                                    <apx-chart [series]="areaChartYearlySalesComparison.series"
                                        [chart]="areaChartYearlySalesComparison.chart"
                                        [xaxis]="areaChartYearlySalesComparison.xaxis"
                                        [yaxis]="areaChartYearlySalesComparison.yaxis"
                                        [stroke]="areaChartYearlySalesComparison.stroke"
                                        [tooltip]="areaChartYearlySalesComparison.tooltip"
                                        [dataLabels]="areaChartYearlySalesComparison.dataLabels"></apx-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card match-height" id="table6">
                <div class="table-head">
                    <span style="font-weight: bold;font-size: medium;">
                        Least Growth Performance Rate
                    </span>
                    <div class="col-md-2">
                        <!-- (change)="filterTable($event,'month')" -->
                        <span>Month</span>
                        <ng-select style="width: 50%;" data-choices data-choices [items]="monthFilter" bindLabel="label"
                            bindValue="value" placeholder="Select Month" [clearable]="false"
                            [searchable]="false"></ng-select>
                    </div>

                    <!-- <select style="width:10%;background-color: #EEEEEE;" class="form-control" data-choices
            (change)="filterTable($event,'year')">
            <option *ngFor="let value of regionwiseDropdown" value="{{value.value}}">
                {{value.label}}
            </option>
        </select> -->
                    <!-- <div class="col-md-3">
        </div> -->
                    <!-- (change)="filterTable($event, 'region')" -->
                    <div class="col-md-2">
                        <span>Region</span>
                        <ng-select data-choices data-choices [items]="location" bindLabel="label" bindValue="value"
                            placeholder="Across TN" [clearable]="false" [searchable]="false"></ng-select>

                        <!-- <select style="width: 30%;background-color: #EEEEEE;" class="form-control" data-choices
                (change)="filterTable($event, 'region')">
                <option value="">All</option>
                <option *ngFor="let value of location" value="{{value.value}}">
                    {{value.label}}
                </option>
            </select> -->
                    </div>

                </div>
                <p-table [value]="sampledata" [rows]="10" [showCurrentPageReport]="true" [paginator]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [globalFilterFields]="globalSearch" responsiveLayout="stack" [breakpoint]="'960px'"
                    [tableStyle]="{'min-width': '50rem'}">
                    <ng-template pTemplate="caption">
                        <!-- <div class="flex">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="applyGlobalFilter($event)" placeholder="Search keyword" />
                </span>
            </div> -->
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="serialNumber">
                                S.No
                                <!-- <p-sortIcon [field]="'serialNumber'"></p-sortIcon> -->
                            </th>
                            <th pSortableColumn="region">
                                Region
                                <p-sortIcon [field]="'region'"></p-sortIcon>
                            </th>
                            <th pSortableColumn="dis">
                                District
                                <p-sortIcon [field]="'dis'"></p-sortIcon>
                            </th>
                            <th pSortableColumn="rvshop">
                                Rv Shop
                                <p-sortIcon [field]="'rvshop'"></p-sortIcon>
                            </th>
                            <th pSortableColumn="beersalesgrowth">
                                Beer Sales Growth
                                <p-sortIcon [field]="'beersalesgrowth'"></p-sortIcon>
                            </th>
                            <th pSortableColumn="imfs">
                                Imfs Sales Growth
                                <p-sortIcon [field]="'imfs'"></p-sortIcon>
                            </th>
                            <th pSortableColumn="overall">
                                Overall Percentage
                                <p-sortIcon [field]="'overall'"></p-sortIcon>
                            </th>
                            <th pSortableColumn="highestsold">
                                Brand (Highest sold)
                                <p-sortIcon [field]="'highestsold'"></p-sortIcon>
                            </th>
                            <th pSortableColumn="nosold">
                               Brand (No sold)
                                <p-sortIcon [field]="'nosold'"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>


                    <!-- <ng-template pTemplate="header">
            <tr>
                <th>S.No</th>
                <th>District</th> -->
                    <!-- <th>Total Previous 3Months Beer Sales</th>
                <th>Total Previous 3Months IMFS Sales</th>
                <th>Total Previous 3Months Sales</th>
                <th>Total Previous Month Beer Sales</th>
                <th>Total Previous Month IMFS Sales</th>
                <th>Total Previous Month Sales</th> -->
                    <!-- <th>Beer Sales Growth</th>
                <th>Imfs Sales Growth</th>
                <th>Overall Percentage</th>
            </tr>
        </ng-template> -->
                    <ng-template pTemplate="body" let-product let-ri="rowIndex">
                        <tr>
                            <td>{{ri+1}}</td>
                            <td>{{ product.region }}</td>
                            <!-- <td>{{ product.totalPrev3MonthBeerSales }}</td>
                <td>{{ product.totalPrev3MonthIMFSales }}</td>
                <td>{{ product.totalPrev3MonthSales}}</td>
                <td>{{ product.totalPrevMonthBeerSales}}</td>
                <td>{{ product.totalPrevMonthIMFSales }}</td>
                <td>{{ product.totalPrevMonthSales}}</td> -->
                            <td>{{product.dis}}</td>
                            <td>{{product.rvshop}}</td>
                            <td [style.color]="getColor(product.beersalesgrowth)">{{ product.beersalesgrowth
                                }}%</td>
                            <td [style.color]="getColor(product.imfs)">{{ product.imfs
                                }}%</td>
                            <td [style.color]="getColor(product.overall)">{{ product.overall}}%</td>
                            <td>{{ product.highestsold}}</td>
                            <td>{{ product.nosold}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <app-loader></app-loader>