.layout {
  display: grid;
   max-height: 300px;
  margin: 30px 0;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.card-main {
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
}

.header {
  font-weight: bold;
  background-color: #FEB96C;
  border: 1px solid black;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
}

.content {
  background-color: #EEEEEE;
  padding: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid black;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.item-title {
  font-weight: bold;
  font-size: medium;
  align-items: center;
  justify-content: center;
}

.item-img {
  height: 20px;
  margin-bottom: 15%;
}

.item-head-child {
  display: flex;
}

.item:last-child {
  margin-bottom: 0;
}

.percentage {
  color: red;
  font-size: 2em;
  text-align: center;
  margin-top: 4%;
  font-weight: bold;
}

.card-live{
  justify-content: space-between;
}

/* Responsive styles */
@media (max-width: 600px) {
  .item {
    flex-direction: column;
    align-items: flex-start;
  }

  .item>span {
    margin-bottom: 10px;
  }
}

.card-img {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  align-items: center;
}


h3 {
  font-weight: bold;
  color: black;
}

h4 {
  font-weight: bold;
  margin: 4px;
  margin-top: 2%;
}

.child-last {
  justify-content: space-between;
  display: flex;
}

.small-card-child {
  padding: 10px;
  border-radius: 3px;
}


.card-small-card {
  display: grid;

}

.card-body-child {
  background-color: #F0E0E0;
}

.overflow-hidden {
  flex-direction: row;
  display: inline-flex;
}


.col-md-2 i {
  top: 50%;
  right: 10px;
  color: red;
  transform: translateY(-50%);
}


.right-card {
  display: flex;
  margin-right: 10%;
}

.right-card-body {
  width: 100%;
}

.ng-select {
  width: 100% !important;
  border-color: white;
}

::ng-deep .ng-dropdown-panel {
  background-color: #EEEEEE;
}


.form-control {
  background-color: #EEEEEE;
}

.table-head {
  margin: 10px;
  margin-top: 1%;
  margin-left: 1%;
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 10px;
}

form-control {
  width: 100%;
  padding: 8px;
  margin: 4px 0;
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
   background-color: #EEEEEE;
  color: black;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e0e0e0;
}

:host ::ng-deep .p-sortable-column {
  cursor: pointer;
  position: relative;
}

:host ::ng-deep .p-sortable-column:hover {
  color: var(--text-primary-hover, #007ad9);
}

:host ::ng-deep .p-sortable-column:focus {
  outline: none;
}

:host ::ng-deep .p-sortable-column-icon {
  position: absolute;
  right: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
}


// Mobile View 

@media screen and (max-width: 768px) {
  .layout {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-sub-body,
  .card-sub-body-1,
  .card-sub-body-2 {
    padding: 5px 10px;
  }

  .card-sub-body,
  .card-sub-body-1,
  .card-sub-body-2,
  .body-title {
    font-size: smaller;
  }

  .child-last {
    flex-direction: column;
    align-items: center;
  }
}