<div style="flex-direction: row; margin: 4px;display: flex;margin-bottom: 2px;">
    <h3>Live Volume & Sales Comparison</h3>
    <img class="title-img" src="../../../../assets/icons/Live-Sales-Data.png" />
</div>
<section class="layout">
    <div class="box m-4">
        <p>Previous Year 15 FEB 2023</p>
        <div style="border: 2px solid black; border-top-right-radius: 5px;
        border-top-left-radius: 8px;border-top-right-radius: 8px;
        border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
            <div style="display: flex;justify-content: space-between;
                background-color: #FEB96C;padding: 5px 20px 5px 20px;border-radius: 8px;
                align-items: center;border: 2px solid black;">
                <h3 style="font-weight: 400;color: black;">
                    IMFS
                    <img src="assets/icons/Imfs.png">
                </h3>
                <h3 style="font-weight: 400;color: black;">
                    Beer
                    <img src="assets/icons/beeer.png">
                </h3>
            </div>
            <div class="" style="display: flex;justify-content: space-between;padding: 5px 20px 5px 20px;">
                <h3><img src="assets/icons/home.png">1283479</h3>
                <h3><img src="assets/icons/home.png">1283479</h3>

            </div>
            <div class="" style="display: flex;justify-content: space-between;padding: 5px 20px 5px 20px;">
                <h3>128.38 Crs </h3>
                <h3>16.99 Crs</h3>
            </div>
        </div>
    </div>
    <div class="box m-4">
        <p>Previous day 14 FEB 2024</p>
        <div style="border: 2px solid black; border-top-right-radius: 5px;
        border-top-left-radius: 8px;border-top-right-radius: 8px; border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;">
            <div class="head" style="display: flex;justify-content: space-between;border-radius: 8px;
                background-color: #008FFB;padding: 5px 20px 5px 20px;align-items: center;border: 2px solid black;">
                <h3 style="font-weight: 400;color: black;">
                    IMFS
                    <img src="assets/icons/Imfs.png">
                </h3>
                <h3 style="font-weight: 400;color: black;">
                    Beer
                    <img src="assets/icons/beeer.png">
                </h3>
            </div>
            <div class="" style="display: flex;justify-content: space-between;padding: 5px 20px 5px 20px;">
                <h3><img src="assets/icons/home.png">1283479</h3>
                <h3><img src="assets/icons/home.png">1283479</h3>

            </div>
            <div class="" style="display: flex;justify-content: space-between;padding: 5px 20px 5px 20px;">
                <h3>128.38 Crs </h3>
                <h3>16.99 Crs</h3>
            </div>
        </div>
    </div>
    <div class="box m-4">
        <div class="live">
            <p>Today’s Overall Sales</p>
            <!-- <img src="../../../../../assets/icons/live.png"/> -->
        </div>
        <div style="border: 2px solid black; border-top-right-radius: 5px;
        border-top-left-radius: 8px;border-top-right-radius: 8px; border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;">
            <div style="display: flex;justify-content: space-between;border-radius: 8px;
                border: 2px solid black;
                background-color: #00E396;padding: 5px 20px 5px 20px;align-items: center;">
                <h3 style="font-weight: 400;color: black;">
                    IMFS
                    <img src="assets/icons/Imfs.png">
                </h3>
                <h3 style="font-weight: 400;color: black;">
                    Beer
                    <img src="assets/icons/beeer.png">
                </h3>
            </div>
            <div class="" style="display: flex;justify-content: space-between;padding: 5px 20px 5px 20px;">
                <h3><img src="assets/icons/home.png">1283479</h3>
                <h3><img src="assets/icons/home.png">1283479</h3>

            </div>
            <div class="" style="display: flex;justify-content: space-between;padding: 5px 20px 5px 20px;">
                <h3>128.38 Crs </h3>
                <h3>16.99 Crs</h3>
            </div>
        </div>
    </div>
</section>
<div class="col-xl-12">
    <div class="card">
        <div class="card-header align-items-center d-flex">
            <div class="header-container row">
                <h4 class="card-title mb-0 flex-grow-1">Cumulative Growth Performance - Current Month
                    <!-- <img style="width: 20px;height: 20px; margin: 5px;"
                        src="../../../../assets/icons/Comparison-Data.png" /> -->
                </h4>
            </div>

            <div class="col-md-4">
                <div>
                    <!-- <select class="form-control" data-choices (change)="filterRegionWise($event)">
                        <option *ngFor="let value of regionwiseDropdown" value="{{value.value}}">
                            {{value.label}}</option>
                    </select> -->
                </div>
            </div>
            <div class="flex-shrink-0">
            </div>
        </div>
        <div class="card-body p-0 pb-2 d-flex">
            <div class="w-100">
                <div class="col-10">
                    <div id="chart">
                        <apx-chart [series]="areaChart.series" [chart]="areaChart.chart" [xaxis]="areaChart.xaxis"
                            [stroke]="areaChart.stroke" [tooltip]="areaChart.tooltip"
                            [dataLabels]="areaChart.dataLabels"></apx-chart>
                    </div>
                </div>
            </div>

            <div class="right-card" style="display: flex;align-items: center;width:40%">

                <div class="col-12 col-md-12" style="cursor: pointer;padding: 10px;border-radius: 16px;">
                    <div class="overflow-hidden">
                        <div class="card-body d-flex">
                            <div class="flex-grow-1" style="background-color:#008FFB">
                                <div
                                    style="display: flex;align-items: center;background-color:#008FFB;justify-content: center;padding: 20px 20px 20px 0px">
                                    <span style="font-weight: 900;text-align: center;font-size: 20px;">Growth
                                        Percentage Feb 2024</span>
                                </div>
                                <div style="justify-content: center;color:black">
                                    <a href="javascript:void(0);">
                                        <h2 style="font-weight: 900;">
                                        </h2>
                                    </a>
                                </div>
                                <span class="d-flex gap-3 mt-2"
                                    style="font-size:25px;justify-content: center;background-color:#F0E0E0;text-align: center;color:red;padding: 20px 20px 20px 0px;">
                                    -10.9%
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="col-xl-12">
    <div class="card">
        <div class="Live-Sales-img">
            <div class="header-container row">
                <h4 class="card-title mb-0 flex-grow-1 ml-3">Comparison Data
                    <img style="width: 20px;height: 20px; margin: 5px;"
                        src="../../../../assets/icons/Comparison-Data.png" />
                </h4>
            </div>
        </div>
        <div class="card-body p-0 pb-2 d-flex">
            <div class="w-100">
                <div class="col-10">
                    <div id="chart">
                        <apx-chart [series]="barChart.series" [chart]="barChart.chart"
                            [dataLabels]="barChart.dataLabels" [plotOptions]="barChart.plotOptions"
                            [yaxis]="barChart.yaxis" [legend]="barChart.legend" [fill]="barChart.fill"
                            [stroke]="barChart.stroke" [tooltip]="barChart.tooltip"
                            [xaxis]="barChart.xaxis"></apx-chart>
                    </div>
                </div>
            </div>

            <div class="right-card" style="display: flex;align-items: center;width:40%">
                <div class="col-12 col-md-12" style="cursor: pointer;padding: 10px;border-radius: 16px;">
                    <div class="overflow-hidden">
                        <div class="card-body d-flex">
                            <div class="flex-grow-1" style="background-color:#008FFB;
                            border-radius: 5px;
                            ">
                                <div style="display: flex;align-items: center;
                                    border-top-left-radius: 5px;border-top-right-radius: 5px;
                                    justify-content: center;padding: 20px 20px 20px 0px">
                                    <span style="font-weight: 900;text-align: center;font-size: 20px;">Growth
                                        Percentage</span>
                                </div>
                                <div style="justify-content: center;color:black">
                                    <a href="javascript:void(0);">
                                        <h2 style="font-weight: 900;">
                                        </h2>
                                    </a>
                                </div>
                                <span class="d-flex gap-3 mt-2" style="font-size:25px;justify-content: center; border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;
                                    background-color:#F0E0E0;text-align: center;padding: 20px 20px 20px 0px;">
                                    25%
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6 card">
        <h4 class="card-title mb-0 flex-grow-1 ml-3">Overall Sales
            <img style="width: 20px;height: 20px; margin: 5px;" src="../../../../assets/icons/sales.png" />
        </h4>
        <div id="chart">
            <apx-chart [series]="salesChart.series" [chart]="salesChart.chart" [labels]="salesChart.labels"
                [responsive]="salesChart.responsive"></apx-chart>
        </div>
    </div>
    <div class="col-6 card">
        <h4 class="card-title mb-0 flex-grow-1 ml-3">Sales Comparison 
            <img style="width: 20px;height: 20px; margin: 5px;" src="../../../../assets/icons/sales-comp.png" />
        </h4>
        <div id="chart">
            <apx-chart [series]="areaChartYearlySalesComparison.series" [chart]="areaChartYearlySalesComparison.chart"
                [xaxis]="areaChartYearlySalesComparison.xaxis" [stroke]="areaChartYearlySalesComparison.stroke"
                [tooltip]="areaChartYearlySalesComparison.tooltip"
                [dataLabels]="areaChartYearlySalesComparison.dataLabels"></apx-chart>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6 card">
        <h4 class="card-title mb-0 flex-grow-1 ml-3">Top 5 District Sales 
            <img style="width: 20px;height: 20px; margin: 5px;" src="../../../../assets/icons/top-5.png" />
        </h4>
        <div id="chart">
            <apx-chart [series]="barChartTop.series" [chart]="barChartTop.chart" [dataLabels]="barChartTop.dataLabels"
                [plotOptions]="barChartTop.plotOptions" [yaxis]="barChartTop.yaxis" [legend]="barChartTop.legend"
                [fill]="barChartTop.fill" [stroke]="barChartTop.stroke" [tooltip]="barChartTop.tooltip"
                [xaxis]="barChartTop.xaxis"></apx-chart>
        </div>
    </div>
    <div class="col-6 card">
        <h4 class="card-title mb-0 flex-grow-1 ml-3">Least 5 sales District
            <img style="width: 20px;height: 20px; margin: 5px;" src="../../../../assets/icons/last-5.png" />
        </h4>
        <div id="chart">
            <apx-chart [series]="barChartLeast.series" [chart]="barChartLeast.chart"
                [dataLabels]="barChartLeast.dataLabels" [plotOptions]="barChartLeast.plotOptions"
                [yaxis]="barChartLeast.yaxis" [legend]="barChartLeast.legend" [fill]="barChartLeast.fill"
                [stroke]="barChartLeast.stroke" [tooltip]="barChartLeast.tooltip"
                [xaxis]="barChartLeast.xaxis"></apx-chart>
        </div>
    </div>
</div>