.equal-height {
    display: flex;
    // grid-template-columns: repeat(auto-fill, minmax(0, 1fr));
    // gap: 16px; /* Adjust the gap value as needed */
}

.equal-height>[class*="col-"] {
    display: flex;
    flex-direction: column;
}

.card {
    flex: 1;
}


.right-card {
    display: grid;
    margin: 4px;
    margin-top: 5%;
}

.side-card {
    display: grid;
    flex: 1;
    background-color: #F0E0E0;
    height: 60%;
    width: 20%;
    
}

.title {
    display: flex;
    background-color: #008FFB;
    height: 60%;
    width: 20%;

}