<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="card-title mb-0 flex-grow-1">Overall Brands in IMFS</h4>
                <button class="btn closeBtn" style="background-color: red;color: white;"
                    routerLink="/main/page/home">Close</button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div id="chart">
                        <apx-chart [series]="salesChart.series" [chart]="salesChart.chart"
                            [dataLabels]="salesChart.dataLabels" [labels]="salesChart.labels"
                            [responsive]="salesChart.responsive"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="col-6">
        <div class="chart-wrapper">
            <canvas style="height: 200px;" baseChart [datasets]="barChartData.datasets" [labels]="barChartLabels"
                [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [type]="barChartType">
            </canvas>
        </div>
    </div> -->
</div>